<wrapper class="group">
  <header id="header"></header>
  <main id="content"></main>
  <footer id="footer">
    <hr>
    BrewSocial 2015 | <a href="#">About</a>
  </footer>
</wrapper>


<script>
  $(document).ready(function(){
    BrewSocial.hopcones = "<%= asset_path 'hopcones.png' %>";
    BrewSocial.missingImage = "<%= asset_path 'beer.png' %>";
    BrewSocial.logo = "<%= asset_path 'brewsociallogo.png' %>";
    BrewSocial.initialize();
  });
</script>
