<wrapper class="group">
  <splash id="splash"></splash>
  <header id="header"></header>
  <main id="content"></main>
  <footer id="footer"></footer>
</wrapper>

<script>
  $(document).ready(function(){
    BrewSocial.hopcones = "<%= asset_path 'hopcones.png' %>";
    BrewSocial.missingImage = "<%= asset_path 'beer.png' %>";
    BrewSocial.logo = "<%= asset_path 'brewsociallogo.png' %>";
    BrewSocial.initialize();
  });
</script>
