<wrapper class="group">
  <header id="header"></header>
  <main id="content"></main>
  <footer id="footer">BrewSocial 2015</footer>
</wrapper>


<script>
  $(document).ready(function(){
    BrewSocial.missingImage = "<%= asset_path 'missing.png' %>"
    BrewSocial.initialize();
  });
</script>
