<header id="header"></header>
<main id="content"></main>

<footer id="footer">
  Here's where a footer would go.
</footer>


<script>
  $(document).ready(function(){
    BrewSocial.missingImage = "<%= asset_path 'missing.png' %>"
    BrewSocial.initialize();
  });
</script>
