<content class="content fading">
  <p>
    BrewSocial is my capstone project for the App Academy May-August 2015 cohort
    in New York. This application is based loosely on AllRecipes with a focus on
    homebrewing, one of my other hobbies. I built BrewSocial mainly with Ruby on
    Rails and Backbone.js. It also uses the OmniAuth Twitter gem to handle user
    sign ups and sign ins with Twitter, the Paperclip gem to handle file uploads,
    the AWS-SDK for file storage, as well as the PgSearch and Kaminari gems to
    streamline database queries and pagination of the results. This project lives
    on my GitHub at <a href="#">[link to github]</a>, and I can be reached
    personally at <a href="mailto:jmcarneyiii@gmail.com">jmcarneyiii@gmail.com</a>.
  </p>
  <button id="exit">OK!</button>
</content>
