<section class="header">
  <h1 class+"header-title">BrewSocial</h1>
  <img class="header-icon" src="<%= BrewSocial.hopcones %>">
  <section class="header-nav group">
    <% if (BrewSocial.currentUser.isSignedIn()) { %>
      <section class="button-list group">
        <label class="greeting">Signed in as: <%= BrewSocial.currentUser.escape("username") %></label>
        <a id="sign-out-link" href="#">Sign out</a>
        <a id="my-profile-link" href="<%=
          "#/users/" + BrewSocial.currentUser.id
        %>">My Profile</a>
        <a id="new-recipe-link" href="#/recipes/new">New Recipe</a>
      </section>
    <% } else { %>
      <section class="button-list group">
        <a id="sign-in-link" href="#">Sign in</a>
        <a id="sign-up-link" href="#">Sign up</a>
        <a id="sign-in-as-guest-link" href="#">Sign in as guest</a>
      </section>
    <% } %>
    <a id="home-link" class="home-link" href="#">Home</a>
  </section>
</section>
