<section class="header">
  <a href="/#">
    <img class="header-icon" src="<%= BrewSocial.logo %>">
  </a>

<br>

  <section>
    <h2>Search Recipes</h2>
    <form id="search-type">
      By:
      <input type="radio" name="search-type" value="name">Name |
      <input type="radio" name="search-type" value="style">Style |
      <input type="radio" name="search-type" value="ingredient">Ingredient |
      <input type="radio" name="search-type" value="all" checked="true">All fields
      <input type="text" id="search-recipes">
      <button id="search">Submit</button>
    </form>
  </section>

<br>

  <section class="header-nav group">
    <% if (BrewSocial.currentUser.isSignedIn()) { %>
      Signed in as: <%= BrewSocial.currentUser.escape("username") %>
      <a id="sign-out-link" href="#">Sign out</a>
    <% } else { %>
    New user? <a id="sign-up-link" href="#">Sign up here.</a>
    <a id="sign-in-link" href="#">Sign in</a>
    <a id="sign-in-as-guest-link" href="#">Sign in as guest</a>
    <% } %>
  </section>

</section>

<hr>
