<section class="header">
  <section class="header-nav">
  <h1>BrewSocial</h1>
    <section class="home-button">
      <a id="home-link" href="#">Home</a>
    </section>
    <% if (BrewSocial.currentUser.isSignedIn()) { %>
      <section class="button-list">
        <label class="greeting">Signed in as: <%= BrewSocial.currentUser.escape("username") %></label> |
        <a id="sign-out-link" href="#">Sign out</a> |
        <a id="my-profile-link" href="<%=
          "#/users/" + BrewSocial.currentUser.id
        %>">My Profile</a>
      </section>
    <% } else { %>
      <section class="button-list">
        <a id="sign-in-link" href="#">Sign in</a> |
        <a id="sign-up-link" href="#">Sign up</a>
      </section>
    <% } %>
  </section>
</section>
