<h2>
Welcome to BrewSocial - discover, share, and discuss homebrew recipes with
an online brewing community.
</h2>
<br>
<h2>Featured Recipe:</h2>
<section id="featured-recipe"></section>
<section id="search-recipe-user"></section>
<section id="search-recipe-by-ingredient"></section>
