<h1>Welcome to BrewSocial.</h1>
<br>
<h2>Featured Recipe:</h2>
<section id="featured-recipe"></section>
<section id="search-recipe-user"></section>
<section id="search-recipe-by-ingredient"></section>
