<h1>
Welcome to BrewSocial - discover, share, and discuss homebrew recipes with
an online brewing community.
</h1>

<br>

<section class="featured group">
  <h2>Featured Recipes:</h2>
  <section id="featured-recipe"></section>
</section>

<section class="content-nav">
  <ul>
    <li><a href="#">My Profile</a></li>
    <li><a href="#">Submit a Recipe</a></li>
    <li><a href="#">Browse Recipes</a></li>
    <li><a href="#">Find a User</a></li>
  <ul>
<section>
