<h2 class="tagline">
Welcome to BrewSocial - discover, share, and discuss homebrew recipes with
an online brewing community.
</h2>
<br>
<section class="featured group">
  <h2>Featured Recipe:</h2>
  <section id="featured-recipe"></section>
</section>

<section class="search-fields group">
  <section id="search-recipe-user" class="search-field-row group"></section>
  <section id="search-recipe-by-ingredient" class="search-field-row group"></section>
</section>
