<h2>Sign up for BrewSocial:</h2>

<form>

  <label class="group">
    <div class="field-name">Username</div>
    <input type="text" name="user[username]" id="input-user-username">
  </label>

  <label class="group">
    <div class="field-name">Password</div>
    <input type="password" name="user[password]" id="input-user-password">
  </label>


  <label class="group">
    <div class="field-name">Avatar</div>
    <input type="file" name="user[avatar]" id="input-user-avatar">
  </label>


  <label class="group">
    <div class="field-name">Preview:</div>
    <img src="<%= BrewSocial.missingImage %>" id="preview-user-avatar" width="100">
  </label>


  <button>Sign Me Up!</button>
  <div class="separator">Or:</div>
  <a href="/auth/twitter">Sign Up With Twitter</a>
</form>
