<h3>Recipes Index</h3>
<ul>
  <% @recipes.each do |recipe| %>
    <% unless recipe.is_private && recipe.author_id != current_user.id %>
      <li>
        <a href="<%= recipe_url(recipe.id )%>"><%= recipe.title %></a>
      </li>
    <% end %>
  <% end %>
</ul>
