<h2>Browse Users</h2>

<form id="user-search-form" class="group">
  <input type="text" id="user-search-field">
  <button id="user-search-button">Search</button>
</form>

<section id="results"></section>
