<h2>Create A Recipe</h2>

<form>

  <label>
    Title
    <input type="text" name="recipe[title]" id="input-recipe-title">
  </label>

  <label>
    Style
    <input type="text" name="recipe[style]" id="input-recipe-style">
  </label>

  <label>Ingredients:
  <section id="ingredients">
    <ul id="added-ingredients"></ul>
    <ul id="ingredient-to-add"></ul>
  </section>
  </label>

  <label>
    Procedure
    <textarea name="recipe[procedure]" id="input-recipe-procedure"></textarea>
  </label>

  <label>
    Image
    <input type="file" name="recipe[image]" id="input-recipe-image">
  </label>

  <br>

  <img src="<%= BrewSocial.missingImage %>" id="preview-recipe-image" width="60">

  <br>

  <label>
    Privacy
    <select id="input-recipe-is-private"
      name="recipe[is_private]">
      <option value="false">Public</option>
      <option value="true">Private</option>
    </select>
  </label>

  <button class="recipe-submit">Submit Recipe</button>

</form>
