<h1><%= recipe.escape('title') %></h1>
<h2><%= recipe.escape('style') %></h2>
<ul id="ingredients">
  <% recipe.recipeIngredients().forEach(function(recipeIngredient){ %>
    <li>
      <%= recipeIngredient.escape("ingredient_name") %>
    </li>
  <% }); %>
</ul>
