/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small, figure {
   margin: 0;
   padding: 0;
   outline: 0;
   list-style: none;
   font-family: inherit;
   font-size: 16px;
   font-weight: normal;
   box-sizing: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   opacity: inherit;
   text-decoration: none;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /* GENERAL FORMATTING */
 body {
   font-family: sans-serif;
   background: #eee;
 }

 wrapper {
   background: white;
   display: block;
   width: 900px;
   margin: auto;
   border: 2px solid #888;
   box-shadow:
   5px 0px 10px -2px #aaa,
   -5px 0px 10px -2px #aaa,
   0px 5px 10px -2px #aaa
   ;
 }

 main {
   padding: 20px;
 }

 button{
   display: block;
   border-radius: 5px;
   padding: 5px;
   background: #888;
   border: none;
   font-weight: bold;
   color: white;
   border-bottom: 2px solid #aaa;
 }

 button:hover{
   background: #3e7d00;
   cursor: pointer;
 }

 button:active{
   border-top: 2px solid #888;
   border-bottom: none;
 }

 input{
   border: 2px solid #888;
   border-radius: 5px;
   padding: 4px;
 }

 input:focus{
   box-shadow: 0 0 10px 0px #3e7d00;
 }

/* HOME/WELCOME VIEW */

.welcome > h1{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.welcome > .featured{
  display: block;
  float: left;
  width: 546px;
  border: 2px solid #888;
  margin-bottom: 20px;
}

.welcome > .featured > h2{
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  background: #888;
}

.welcome .featured-recipe-carousel{
  padding: 10px;
}

.welcome .featured-recipe-carousel > .featured-recipe-container{
  display: block;
  height: 304px;
  overflow: hidden;
  position: relative;

}

ul#featured-recipes{
  display: block;
  position: absolute;
  width: 1578px;
  left: 0px;
  transition: .75s;
}

ul#featured-recipes > li {
  display: block;
  float: left;
  width: 526px;
}

ul#featured-recipes > li > * {
  display: block;
  float: left;
}

ul#featured-recipes > li > section {
  width: 212px;
  margin-left: 10px;
}

ul#featured-recipes > li > section > h1 > a{
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

ul#featured-recipes > li > section > h2{
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.welcome > .featured img{
  display: block;
  width: 300px;
  height: 300px;
  border: 2px solid #888;
  line-height: 0;
}

.welcome > .featured .buttons{
  display: block;
  margin-top: 10px;
}

.welcome > .featured .buttons > #prev{
  display: block;
  float: left;
}

.welcome > .featured .buttons > #next{
  display: block;
  float: right;
}

.welcome > .content-nav{
  display: block;
  float: right;
  width: 300px;
}

.welcome > .content-nav li{
  display: block;
  border: 2px solid #888;
  margin-bottom: 10px;
}

.welcome > .content-nav li > a{
  display: block;
  padding: 10px;
  background: #888;
  color: #fff;
  font-weight: bold;
}

.welcome > .content-nav li > a:hover{
  background: #3e7d00;
  text-decoration: underline;
}

/* USER FORM SIGNUP */
.signup > h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup > form {
  display: inline-block;
}

.signup > form > label{
  display: block;
  margin-bottom: 20px;
}

.signup > form > label > *{
  display: block;
  float: left;
}

.signup > form > label > .field-name {
  padding: 6px 0px 6px 0px;
  width: 80px;
}

.signup > form > label > input {
  width: 200px;
}

.signup > form > label > img {
  width: 210px;
  min-height: 210px;
  border: 2px solid #888;
}

.signup > form > button {
  margin: auto;
  text-align: center;
  width:160px;
}

.signup > form > .separator {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.signup > form > a{
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 160px;
  font-weight: bold;
  text-align: center;
}

.signup > form > a:hover{
  text-decoration: underline;
  color: #3e7d00;
}

/* HEADER */
section.header-top .logo{
  display: block;
  float: left;
}

section.header-top .logo > img{
  width: 300px;
}

section.header-top .multisearch-form{
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 50px;
  font-weight: bold;
}

section.header-top .multisearch-form h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

section.header-top .multisearch-form input{
  display: block;
  float: left;
  width: 325px;
  margin-right: 10px;
}

section.header > .header-nav{
  background: #888;
  clear: both;
}

section.header .header-nav > * {
  display: block;
  float: left;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
}

section.header .header-nav > .right{
  float: right;
}

section.header .header-nav > a:hover {
  background: #3e7d00;
  text-decoration: underline;
  transition: background .1s ease;
  transition: color .1s ease;
}

/*FOOTER*/
footer{
  border-top: 2px solid #888;
  padding: 10px;
  clear: both;
}

footer > content {
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
  color: #888;
}

footer > content > a:hover {
  color: #3e7d00;
  text-decoration: underline;
}

/*ABOUT SPLASH*/
splash.closed {
  height: 0;
  width: 0;
  background-color: 0;
  z-index: 10;
}

 splash.open {
   position: fixed;
   right: 0;
   left: 0;
   margin-right: auto;
   margin-left: auto;
   height: 100%;
   width: 100%;
   background-color: rgba(255,255,255,0.6);
   transition: background-color 0.5s ease;
   z-index: 10;
 }

 splash .content {
   display: block;
   margin: auto;
   margin-top: 150px;
   width: 600px;
   padding: 20px;
   background: #eee;
   border-radius: 20px;
   border: 2px solid #888;
   box-shadow:
   5px 0px 10px -2px #aaa,
   -5px 0px 10px -2px #aaa,
   0px 5px 10px -2px #aaa,
   0px -5px 10px -2px #aaa
   ;
 }

 splash .content p {
   margin-bottom: 20px;
 }

 splash a{
   color: #3e7d00;
 }

 splash a:hover{
   text-decoration: underline;
 }

 splash .content button {
   display: block;
   margin: auto;
   width: 100px;
   padding: 5px;
   text-align: center;
 }
