/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   /*border: 0;*/
   outline: 0;
   list-style: none;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   /*text-decoration: inherit;*/
   /*vertical-align: inherit;*/
   color: inherit;
   background: transparent;
   text-decoration: none;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 body {
   font-family: sans-serif;
   background: #eee;
 }

 wrapper {
   background: white;
   display: block;
   width: 900px;
   margin: auto;
   border: 2px solid #888;
   box-shadow:
   5px 0px 10px -2px #aaa,
   -5px 0px 10px -2px #aaa,
   0px 5px 10px -2px #aaa
   ;
 }

 img {
   display: block;
 }

 /* HEADER */
 .header{
   color: white;
   display: block;
 }
 .header-nav {
   clear: both;
   background: #888;
 }
 .header > h1 {
   display: block;
   float: left;
   font-size: 36px;
   padding: 15px;
   font-weight: bold;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
   color: black;
 }

 .header > img {
  float: right;
  padding: 5px;
  height: 66px;
 }

 .header-nav .button-list {
   display: block;
   float: left;
 }

 .header-nav a, .header-nav .greeting {
   display: block;
   float: left;
   padding: 5px 15px;
 }

 .header-nav .home-link{
   float: right;
 }

 .header-nav a:hover{
   color: #ccc;
   text-decoration: underline;
 }


 /* CONTENT */
 #content {
   padding: 20px;
   border-top: none;
   margin: auto;
   display: block;
 }

 #featured-recipe {
   border: 2px solid #888;
   display: block;
   width: 400px;
 }

/* FOOTER */
#footer {
  padding: 20px;
  border-top: 2px solid #888;
  margin: auto;
  display: block;
}

/* PROFILE */
.profile-picture{
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid #999;
}

/* USER FORM */
#preview-user-avatar{
  width: 60px;
  height: 60px;
  border: 2px solid #999;
}
