<label for="ingredient-name">Ingredient:</label>
<select id="ingredient-name"
  name="ingredient[id]">
  <% ingredients.forEach(function(el){%>
    <option value="<%= el.id %>">
      <%= el.escape("name") %>
    </option>
  <% }); %>
</select>
<input id="recipe-ingredient-amount"
  name="recipe-ingredient[amount]">
<select id="recipe-ingredient-unit">
  <option value="lbs">lbs</option>
  <option value="oz">oz</option>
  <option value="gal">gal</option>
  <option value="qt">qt</option>
  <option value="pt">pt</option>
  <option value="cp">cp</option>
  <option value="fl oz">fl oz</option>
  <option value="Tbsp">Tbsp</option>
  <option value="tsp">tsp</option>
  <option value="kg">kg</option>
  <option value="g">g</option>
  <option value="L">L</option>
  <option value="cL">cL</option>
  <option value="mL">mL</option>
</select>
<button class="add-ingredient">Add</button>
