<%= ingredient.escape("name") %>,
<%= recipeIngredient.escape("amount") %>
<%= recipeIngredient.escape("unit") %>
<button
  class="remove-ingredient"
  data-ingredient-id="<%= ingredient.id %>">
  Remove
</button>
