<description>
  <%= recipeIngredient.escape("amount") %>
  <%= recipeIngredient.escape("unit") %>
  <%= recipeIngredient.escape("ingredient_name") %>
</description>

<button
  class="remove-ingredient"
  data-ingredient-id="<%= recipeIngredient.escape("ingredient_id") %>">
  Remove
</button>
