<h1 class="search-results-header">Displaying page <%= results.pageNum %> of <%= results.totalCount %> Results:</h1>
<ul class="result-list">
</ul>
<container class="button-container group">
  <% if(results.pageNum != 1){ %>
    <button id="prev">Previous</button>
  <% } %>
  <% if(results.pageNum * 5 < results.totalCount){ %>
    <button id="next">Next</button>
  <% } %>
</container>
